html {
  padding: 0;

  margin: 0;
}

body {
  padding: 0;

  margin: 0;
}

.BLoc1 {
  position: relative;
  text-align: center;
}

.texte1 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-top: 20%;
}

.Bouton {
  position: absolute;
  margin-left: 45%;
  margin-top: 30%;
}

.paysage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Bloc2 {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.Texte2 {
  display: flex;
  justify-content: center;
}

.eu {
  width: 20%;
}

.taj {
  width: 20%;
}

.maroc {
  width: 20%;
}

.Bloc3 {
  background-color: #63a2dc;
  margin-top: 2%;
}

.texte3 {
  margin-left: 45%;
  margin-bottom: 10%;
}

.LienFAQ {
  margin-left: 50%;
  margin-bottom: 10%;
}
