body {
  background-color: rgb(209, 204, 204);
}
.container {
  margin: 20px 0;
}
.container > .searchInput_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.container > .searchInput_Container input {
  width: 50%;
  padding: 10px;
  outline: none;
}
.container .data_Container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.container .data_Container .data {
  background-color: white;
  margin: 30px;
  padding: 20px 20px;
}
.container .data_Container .data img {
  height: 200px;
}


